@font-face {
  font-family: "OpenWeb Icons";
  src: url("http://pfefferle.github.io/openwebicons/font/openwebicons.eot");
  src: url("http://pfefferle.github.io/openwebicons/font/openwebicons.eot?#iefix") format("embedded-opentype"), url("http://pfefferle.github.io/openwebicons/font/openwebicons.woff2") format("woff2"), url("http://pfefferle.github.io/openwebicons/font/openwebicons.woff") format("woff"), url("http://pfefferle.github.io/openwebicons/font/openwebicons.ttf") format("truetype"), url("http://pfefferle.github.io/openwebicons/font/openwebicons.svg#openweb_iconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=openwebicons-]:before, [class*=" openwebicons-"]:before {
  font-family: "OpenWeb Icons";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: center;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

a [class^=openwebicons-], a [class*=" openwebicons-"] {
  display: inline-block;
  text-decoration: inherit;
}

li[class^=openwebicons-], li[class*=" openwebicons-"] {
  display: block;
}

.openwebicons-semantic-web:before {
  content: "\f000";
}

.openwebicons-apml:before {
  content: "\f001";
}

.openwebicons-opensearch:before {
  content: "\f002";
}

.openwebicons-opml:before {
  content: "\f003";
}

.openwebicons-ostatus:before {
  content: "\f004";
}

.openwebicons-ostatus-simple:before {
  content: "\f005";
}

.openwebicons-share:before {
  content: "\f006";
}

.openwebicons-share-simple:before {
  content: "\f007";
}

.openwebicons-oauth:before {
  content: "\f008";
}

.openwebicons-feed:before {
  content: "\f009";
}

.openwebicons-feed-simple:before {
  content: "\f00a";
}

.openwebicons-geo:before {
  content: "\f00b";
}

.openwebicons-microformats:before {
  content: "\f00c";
}

.openwebicons-openid:before {
  content: "\f00d";
}

.openwebicons-open-share:before {
  content: "\f00e";
}

.openwebicons-open-share-simple:before {
  content: "\f00f";
}

.openwebicons-activity:before {
  content: "\f010";
}

.openwebicons-federated:before {
  content: "\f011";
}

.openwebicons-open-web:before {
  content: "\f012";
}

.openwebicons-dataportability:before {
  content: "\f013";
}

.openwebicons-web-intents:before {
  content: "\f014";
}

.openwebicons-xmpp:before {
  content: "\f015";
}

.openwebicons-html5:before {
  content: "\f016";
}

.openwebicons-css3:before {
  content: "\f017";
}

.openwebicons-connectivity:before {
  content: "\f018";
}

.openwebicons-semantics:before {
  content: "\f019";
}

.openwebicons-opengraph:before {
  content: "\f020";
}

.openwebicons-epub:before {
  content: "\f021";
}

.openwebicons-qr:before {
  content: "\f022";
}

.openwebicons-foaf:before {
  content: "\f023";
}

.openwebicons-info-card:before {
  content: "\f024";
}

.openwebicons-browserid:before {
  content: "\f025";
}

.openwebicons-remote-storage:before {
  content: "\f026";
}

.openwebicons-persona:before {
  content: "\f027";
}

.openwebicons-odata:before {
  content: "\f028";
}

.openwebicons-markdown:before {
  content: "\f029";
}

.openwebicons-tosdr:before {
  content: "\f030";
}

.openwebicons-device-access:before {
  content: "\f031";
}

.openwebicons-multimedia:before {
  content: "\f032";
}

.openwebicons-offline-storage:before {
  content: "\f033";
}

.openwebicons-perfintegration:before {
  content: "\f034";
}

.openwebicons-git:before {
  content: "\f035";
}

.openwebicons-webhooks:before {
  content: "\f036";
}

.openwebicons-3deffects:before {
  content: "\f037";
}

.openwebicons-osi:before {
  content: "\f038";
}

.openwebicons-rdf:before {
  content: "\f039";
}

.openwebicons-hatom:before {
  content: "\f040";
}

.openwebicons-activity-simple:before {
  content: "\f041";
}

.openwebicons-hresume:before {
  content: "\f042";
}

.openwebicons-hcard-add:before {
  content: "\f043";
}

.openwebicons-hcard-download:before {
  content: "\f044";
}

.openwebicons-pubsubhubbub-pub:before {
  content: "\f045";
}

.openwebicons-pubsubhubbub-sub:before {
  content: "\f046";
}

.openwebicons-pubsubhubbub:before {
  content: "\f047";
}

.openwebicons-json-ld:before {
  content: "\f048";
}

.openwebicons-svg:before {
  content: "\f049";
}

.openwebicons-ofl-renaming:before {
  content: "\f04a";
}

.openwebicons-ofl-selling:before {
  content: "\f04b";
}

.openwebicons-ofl-embedding:before {
  content: "\f04c";
}

.openwebicons-webmention:before {
  content: "\f04d";
}

.openwebicons-javascript:before {
  content: "\f04e";
}

.openwebicons-wtfpl:before {
  content: "\f04f";
}

.openwebicons-tent:before {
  content: "\f050";
}

.openwebicons-copyleft:before {
  content: "\f051";
}

.openwebicons-gnu:before {
  content: "\f052";
}

.openwebicons-ofl:before {
  content: "\f053";
}

.openwebicons-wordpress:before {
  content: "\f054";
}

.openwebicons-owncloud:before {
  content: "\f055";
}

.openwebicons-cccs:before {
  content: "\f056";
}

.openwebicons-barcamp:before {
  content: "\f057";
}

.openwebicons-indiehosters:before {
  content: "\f058";
}

.openwebicons-known:before {
  content: "\f059";
}

.openwebicons-mozilla:before {
  content: "\f05a";
}

.openwebicons-unhosted:before {
  content: "\f05b";
}

.openwebicons-diaspora:before {
  content: "\f05c";
}

.openwebicons-indie:before {
  content: "\f05d";
}

.openwebicons-ghost:before {
  content: "\f05e";
}

.openwebicons-opensourcedesign:before {
  content: "\f060";
}

.openwebicons-opendesign:before {
  content: "\f061";
}

.openwebicons-gnusocial:before {
  content: "\f062";
}

.openwebicons-gnusocial-simple:before {
  content: "\f063";
}

.openwebicons-mastodon-simple:before {
  content: "\f064";
}

.openwebicons-mastodon:before {
  content: "\f065";
}

.openwebicons-jsonfeed:before {
  content: "\f066";
}

.openwebicons-pump-io:before {
  content: "\f067";
}

.openwebicons-friendica:before {
  content: "\f068";
}

.openwebicons-hubzilla:before {
  content: "\f069";
}

.openwebicons-fediverse:before {
  content: "\f06a";
}

.openwebicons-id4me:before {
  content: "\f06b";
}

.openwebicons-movim:before {
  content: "\f06c";
}

.openwebicons-pleroma:before {
  content: "\f06d";
}

.openwebicons-pixelfed:before {
  content: "\f06e";
}

.openwebicons-cc:before {
  content: "\f080";
}

.openwebicons-cc-by:before {
  content: "\f081";
}

.openwebicons-cc-nc:before {
  content: "\f082";
}

.openwebicons-cc-nc-eu:before {
  content: "\f083";
}

.openwebicons-cc-nc-jp:before {
  content: "\f084";
}

.openwebicons-cc-sa:before {
  content: "\f085";
}

.openwebicons-cc-nd:before {
  content: "\f086";
}

.openwebicons-cc-public:before {
  content: "\f087";
}

.openwebicons-cc-zero:before {
  content: "\f088";
}

.openwebicons-cc-share:before {
  content: "\f089";
}

.openwebicons-cc-remix:before {
  content: "\f08a";
}

.openwebicons-indieweb-indie:before {
  content: "\f08b";
}

.openwebicons-indieweb-web:before {
  content: "\f08c";
}

.openwebicons-indieweb-camp:before {
  content: "\f08d";
}

.openwebicons-webfinger:before {
  content: "\f08e";
}

.openwebicons-bitcoin:before {
  content: "\f08f";
}

.openwebicons-bitcoin-simple:before {
  content: "\f090";
}

.openwebicons-activitypub:before {
  content: "\f091";
}

.openwebicons-wapuu:before {
  content: "\f092";
}

.openwebicons-micro-blog:before {
  content: "\f093";
}

.openwebicons-indieauth:before {
  content: "\f094";
}

.openwebicons-freesoftware:before {
  content: "\f095";
}

.openwebicons-lemmy:before {
  content: "\f096";
}

.openwebicons-peertube:before {
  content: "\f097";
}

.openwebicons-misskey:before {
  content: "\f098";
}

.openwebicons-akkoma:before {
  content: "\f099";
}

.openwebicons-bookwyrm:before {
  content: "\f09a";
}

.openwebicons-funkwhale:before {
  content: "\f09b";
}

.openwebicons-gotosocial:before {
  content: "\f09c";
}

.openwebicons-forgejo:before {
  content: "\f09d";
}

.openwebicons-gitea:before {
  content: "\f09e";
}

.openwebicons-owncast:before {
  content: "\f09f";
}

.openwebicons-mobilizon:before {
  content: "\f0a0";
}

.openwebicons-castopod:before {
  content: "\f0a1";
}

.openwebicons-kbin:before {
  content: "\f0a2";
}

.openwebicons-firefish:before {
  content: "\f0a3";
}

.openwebicons-iceshrimp:before {
  content: "\f0a4";
}

.openwebicons-sharkey:before {
  content: "\f0a5";
}

.openwebicons-plume:before {
  content: "\f0a6";
}

.openwebicons-discourse:before {
  content: "\f0a7";
}

.openwebicons-nextcloud:before {
  content: "\f0a8";
}

.openwebicons-loops:before {
  content: "\f0aa";
}

.openwebicons-bonfire:before {
  content: "\f0ab";
}

.openwebicons-hometown:before {
  content: "\f0ac";
}

.openwebicons-writefreely:before {
  content: "\f0ad";
}

.openwebicons-gancio:before {
  content: "\f0ae";
}

.openwebicons-glitch-soc:before {
  content: "\f0af";
}

.openwebicons-soapbox:before {
  content: "\f0b0";
}

.openwebicons-snac:before {
  content: "\f0b1";
}

.openwebicons-honk:before {
  content: "\f0b2";
}

.openwebicons-epicyon:before {
  content: "\f0b3";
}

.openwebicons-drupal:before {
  content: "\f0b4";
}

.openwebicons-socialhome:before {
  content: "\f0b5";
}

.openwebicons-keyoxide:before {
  content: "\f0b6";
}

.openwebicons-streams:before {
  content: "\f0b7";
}

.openwebicons-takahe:before {
  content: "\f0b8";
}

.openwebicons-hubzilla-simple:before {
  content: "\f0b9";
}

.openwebicons-guppe:before {
  content: "\f0ba";
}

.openwebicons-ecko:before {
  content: "\f0bb";
}

.openwebicons-fedibird:before {
  content: "\f0bc";
}

.openwebicons-forgefed:before {
  content: "\f0bd";
}

.openwebicons-gath-io:before {
  content: "\f0be";
}

.openwebicons-ktistec:before {
  content: "\f0bf";
}

.openwebicons-relatica:before {
  content: "\f0c0";
}

.openwebicons-shuttlecraft:before {
  content: "\f0c1";
}

.openwebicons-flohmarkt:before {
  content: "\f0c2";
}

.openwebicons-inventaire:before {
  content: "\f0c3";
}

.openwebicons-disroot:before {
  content: "\f0c4";
}

.openwebicons-fedimarks:before {
  content: "\f0c5";
}

.openwebicons-fediverse-symbol:before {
  content: "\f0c6";
}

.openwebicons-seppo:before {
  content: "\f0c7";
}

.openwebicons-fediverse-logo:before {
  content: "\f0c8";
}

.openwebicons-rdfa:before {
  content: "\f039";
}

.openwebicons-owl:before {
  content: "\f039";
}

.openwebicons-opensource:before {
  content: "\f038";
}

.openwebicons-ofl-attribution:before {
  content: "\f081";
}

.openwebicons-ofl-share:before {
  content: "\f085";
}

.openwebicons-pub:before {
  content: "\f045";
}

.openwebicons-sub:before {
  content: "\f046";
}

.openwebicons-hubbub:before {
  content: "\f045";
}

.openwebicons-indieweb:before {
  content: "\f08b\f08c";
}

.openwebicons-indiewebcamp:before {
  content: "\f08b\f08c\f08d";
}

.openwebicons-apml-colored:before {
  content: "\f001";
  color: #AFDD63;
}

.openwebicons-opensearch-colored:before {
  content: "\f002";
  color: #5050f3;
}

.openwebicons-opml-colored:before {
  content: "\f003";
  color: #2490A1;
}

.openwebicons-ostatus-colored:before {
  content: "\f004";
  color: #FF6600;
}

.openwebicons-share-colored:before {
  content: "\f006";
  color: #538439;
}

.openwebicons-feed-colored:before {
  content: "\f009";
  color: #EA680B;
}

.openwebicons-geo-colored:before {
  content: "\f00b";
  color: #990000;
}

.openwebicons-microformats-colored:before {
  content: "\f00c";
  color: #85BC07;
}

.openwebicons-open-share-colored:before {
  content: "\f00e";
  color: #538439;
}

.openwebicons-activity-colored:before {
  content: "\f010";
  color: #4FB2D9;
}

.openwebicons-html5-colored:before {
  content: "\f016";
  color: #E34C26;
}

.openwebicons-epub-colored:before {
  content: "\f021";
  color: #85b916;
}

.openwebicons-info-card-colored:before {
  content: "\f024";
  color: #BF84E5;
}

.openwebicons-remote-storage-colored:before {
  content: "\f026";
  color: #ff4e09;
}

.openwebicons-odata-colored:before {
  content: "\f028";
  color: #EA680B;
}

.openwebicons-git-colored:before {
  content: "\f035";
  color: #F05133;
}

.openwebicons-osi-colored:before {
  content: "\f038";
  color: #3DA639;
}

.openwebicons-javascript-colored:before {
  content: "\f04e";
  color: #f0db4f;
}

.openwebicons-gnusocial-colored:before {
  content: "\f062";
  color: #a22430;
}

.openwebicons-mastodon-simple-colored:before {
  content: "\f064";
  color: #2b90d9;
}

.openwebicons-mastodon-colored:before {
  content: "\f065";
  color: #2b90d9;
}

.openwebicons-id4me-colored:before {
  content: "\f06b";
  color: #007A9D;
}

.openwebicons-lemmy-colored:before {
  content: "\f096";
  color: #00BC8C;
}

.openwebicons-peertube-colored:before {
  content: "\f097";
  color: #F1680D;
}

.openwebicons-misskey-colored:before {
  content: "\f098";
  color: #99c837;
}

.openwebicons-akkoma-colored:before {
  content: "\f099";
  color: #593196;
}

.openwebicons-bookwyrm-colored:before {
  content: "\f09a";
  color: #002549;
}

.openwebicons-funkwhale-colored:before {
  content: "\f09b";
  color: #0D47A1;
}

.openwebicons-gotosocial-colored:before {
  content: "\f09c";
  color: #F26522;
}

.openwebicons-forgejo-colored:before {
  content: "\f09d";
  color: #E44729;
}

.openwebicons-gitea-colored:before {
  content: "\f09e";
  color: #609926;
}

.openwebicons-owncast-colored:before {
  content: "\f09f";
  color: #7871FF;
}

.openwebicons-mobilizon-colored:before {
  content: "\f0a0";
  color: #3E50AF;
}

.openwebicons-castopod-colored:before {
  content: "\f0a1";
  color: #00564A;
}

.openwebicons-kbin-colored:before {
  content: "\f0a2";
  color: #7B1FA2;
}

.openwebicons-iceshrimp-colored:before {
  content: "\f0a4";
  color: #F75E7B;
}

.openwebicons-discourse-colored:before {
  content: "\f0a7";
  color: #231F20;
}

.openwebicons-nextcloud-colored:before {
  content: "\f0a8";
  color: #0082C9;
}

.openwebicons-bonfire-colored:before {
  content: "\f0ab";
  color: #F15B40;
}

.openwebicons-drupal-colored:before {
  content: "\f0b4";
  color: #0678BE;
}

.openwebicons-keyoxide-colored:before {
  content: "\f0b6";
  color: #56A300;
}

.openwebicons-hubzilla-simple-colored:before {
  content: "\f0b9";
  color: #2E5AA1;
}

.openwebicons-flohmarkt-colored:before {
  content: "\f0c2";
  color: #D93F00;
}

.openwebicons-opensource-colored:before {
  content: "\f038";
  color: #3DA639;
}

.openwebicons-pub-colored:before {
  content: "\f045";
  color: #99cc00;
}

.openwebicons-sub-colored:before {
  content: "\f046";
  color: #ffff00;
}

.openwebicons-hubbub-colored:before {
  content: "\f045";
  color: #ff6fcf;
}