/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.table i {
  font-style: normal;
  font-size: 35px;
  line-height: 1 !important;
}

.table th {
  white-space: nowrap;
}

.the-icons {
  font-size: 15px;
}

iframe {
  border: none;
}