.#{$prefix}-apml:before { content: "\f001"; }
.#{$prefix}-apml-colored:before { content: "\f001"; color: #AFDD63; }

.#{$prefix}-open-share:before { content: "\f00E"; }
.#{$prefix}-open-share-simple:before { content: "\f00F"; }
.#{$prefix}-open-share-colored:before { content: "\f00E"; color: #538439; }

.#{$prefix}-share:before { content: "\f006"; }
.#{$prefix}-share-simple:before { content: "\f007"; }
.#{$prefix}-share-colored:before { content: "\f006"; color: #538439; }

.#{$prefix}-feed:before { content: "\f009"; }
.#{$prefix}-feed-simple:before { content: "\f00A"; }
.#{$prefix}-feed-colored:before { content: "\f009"; color: #EA680B; }

.#{$prefix}-ostatus:before { content: "\f004"; }
.#{$prefix}-ostatus-simple:before { content: "\f005"; }
.#{$prefix}-ostatus-colored:before { content: "\f004"; color: #FF6600; }

.#{$prefix}-opml:before { content: "\f003"; }
.#{$prefix}-opml-colored:before { content: "\f003"; color: #2490A1; }

.#{$prefix}-activity:before { content: "\f010"; }
.#{$prefix}-activity-colored:before { content: "\f010"; color: #4FB2D9; }

.#{$prefix}-microformats:before { content: "\f00C"; }
.#{$prefix}-microformats-colored:before { content: "\f00C"; color: #85BC07; }

.#{$prefix}-geo:before { content: "\f00B"; }
.#{$prefix}-geo-colored:before { content: "\f00B"; color: #990000; }

.#{$prefix}-opensearch:before { content: "\f002"; }
.#{$prefix}-opensearch-colored:before { content: "\f002"; color: #5050f3; }

.#{$prefix}-oauth:before { content: "\f008"; }
.#{$prefix}-openid:before { content: "\f00D"; }
.#{$prefix}-rdf:before, .#{$prefix}-rdfa:before, .#{$prefix}-owl:before { content: "\f000"; }

.#{$prefix}-dataportability:before { content: "\f013"; }

.#{$prefix}-federated:before { content: "\f011"; }

.#{$prefix}-web-intents:before { content: "\f014"; }

.#{$prefix}-open-web:before { content: "\f012"; }

.#{$prefix}-xmpp:before { content: "\f015"; }

.#{$prefix}-html5:before { content: "\f016"; }
.#{$prefix}-html5-colored:before { content: "\f016"; color: #E34C26; }

.#{$prefix}-css3:before { content: "\f017"; }

.#{$prefix}-connectivity:before { content: "\f018"; }

.#{$prefix}-semantics:before { content: "\f019"; }

.#{$prefix}-opengraph:before { content: "\f020"; }

.#{$prefix}-epub:before { content: "\f021"; }
.#{$prefix}-epub-colored:before { content: "\f021"; color: #85b916; }

.#{$prefix}-qr:before { content: "\f022"; }

.#{$prefix}-foaf:before { content: "\f023"; }

.#{$prefix}-info-card:before { content: "\f024"; }
.#{$prefix}-info-card-colored:before { content: "\f024"; color: #BF84E5; }

.#{$prefix}-browserid:before { content: "\f025"; }

.#{$prefix}-remote-storage:before { content: "\f026"; }
.#{$prefix}-remote-storage-colored:before { content: "\f026"; color: #ff4e09 }

.#{$prefix}-persona:before { content: "\f027"; }

.#{$prefix}-odata:before { content: "\f028"; }
.#{$prefix}-odata-colored:before { content: "\f028"; color: #EA680B; }

.#{$prefix}-markdown:before { content: "\f029"; }

.#{$prefix}-tosdr:before { content: "\f030"; }

.#{$prefix}-cc:before { content: "\f080"; }
.#{$prefix}-cc-by:before { content: "\f081"; }
.#{$prefix}-cc-nc:before { content: "\f082"; }
.#{$prefix}-cc-nc-eu:before { content: "\f083"; }
.#{$prefix}-cc-nc-jp:before { content: "\f084"; }
.#{$prefix}-cc-sa:before { content: "\f085"; }
.#{$prefix}-cc-nd:before { content: "\f086"; }
.#{$prefix}-cc-public:before { content: "\f087"; }
.#{$prefix}-cc-zero:before { content: "\f088"; }
.#{$prefix}-cc-share:before { content: "\f089"; }
.#{$prefix}-cc-remix:before { content: "\f08a"; }