[class^="#{$prefix}-"]:before, [class*=" #{$prefix}-"]:before {
  font-family: 'OpenWeb Icons';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: center;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}
a [class^="#{$prefix}-"], a [class*=" #{$prefix}-"] {
  display: inline-block;
  text-decoration: inherit;
}