$icons: apml "\f001" "#AFDD63",
        open-share "\f00E" "#538439",
        open-share-simple "\f00F" "monochrome",
        share "\f006" "#538439",
        share-simple "\f007" "monochrome",
        feed "\f009" "#EA680B",
        feed-simple "\f00A" "monochrome",
        ostatus "\f004" "#FF6600",
        ostatus-simple "\f005" "monochrome",
        opml "\f003" "#2490A1",
        activity "\f010" "#4FB2D9",
        activity-simple "\f041" "monochrome",
        microformats "\f00C" "#85BC07",
        geo "\f00B" "#990000",
        opensearch "\f002" "#5050f3",
        oauth "\f008" "monochrome",
        openid "\f00D" "monochrome",
        semantic-web "\f000" "monochrome",
        rdf "\f039" "monochrome",
        rdfa "\f039" "monochrome",
        owl "\f039" "monochrome",
        dataportability "\f013" "monochrome",
        federated "\f011" "monochrome",
        web-intents "\f014" "monochrome",
        open-web "\f012" "monochrome",
        xmpp "\f015" "monochrome",
        html5 "\f016" "#E34C26",
        css3 "\f017" "monochrome",
        connectivity "\f018" "monochrome",
        semantics "\f019" "monochrome",
        3deffects "\f037" "monochrome",
        device-access "\f031" "monochrome",
        multimedia "\f032" "monochrome",
        offline-storage "\f033" "monochrome",
        perfintegration "\f034" "monochrome",
        git "\f035" "#F05133",
        webhooks "\f036" "monochrome",
        osi "\f038" "#3DA639",
        opensource "\f038" "#3DA639",
        opengraph "\f020" "monochrome",
        epub "\f021" "#85b916",
        qr "\f022" "monochrome",
        foaf "\f023" "monochrome",
        info-card "\f024" "#BF84E5",
        browserid "\f025" "monochrome",
        remote-storage "\f026" "#ff4e09",
        persona "\f027" "monochrome",
        odata "\f028" "#EA680B",
        markdown "\f029" "monochrome",
        tosdr "\f030" "monochrome",
        pub "\f045" "#99cc00",
        sub "\f046" "#ffff00",
        hubbub "\f045" "#ff6fcf",
        pubsubhubbub "\f047" "monochrome",
        cc "\f080" "monochrome",
        cc-by "\f081" "monochrome",
        cc-nc "\f082" "monochrome",
        cc-nc-eu "\f083" "monochrome",
        cc-nc-jp "\f084" "monochrome",
        cc-sa "\f085" "monochrome",
        cc-nd "\f086" "monochrome",
        cc-public "\f087" "monochrome",
        cc-zero "\f088" "monochrome",
        cc-share "\f089" "monochrome",
        cc-remix "\f08a" "monochrome",
        hatom "\f040" "monochrome",
        hresume "\f042" "monochrome",
        hcard-add "\f043" "monochrome",
        hcard-download "\f044" "monochrome",
        indieweb "\f08b \f08c" "monochrome",
        indiewebcamp "\f08b \f08c \f08d" "monochrome",
        webfinger "\f08e" "monochrome",
        bitcoin "\f08f" "monochrome",
        bitcoin-simple "\f090" "monochrome",
        svg "\f049" "monochrome",
        json-ld "\f048" "monochrome",
        tent "\f050" "monochrome",
        copyleft "\f051" "monochrome",
        gnu "\f052" "monochrome",
        ofl-attribution "\f081" "monochrome",
        ofl-share "\f085" "monochrome",
        ofl-renaming "\f04a" "monochrome",
        ofl-selling "\f04b" "monochrome",
        ofl-embedding "\f04c" "monochrome",
        webmention "\f04d" "monochrome",
        javascript "\f04e" "#f0db4f",
        wtfpl "\f04f" "monochrome",
        ofl "\f053" "monochrome";