$icons: apml "\f001" "monochrome",
        apml-colored "\f001" "#AFDD63",
        open-share "\f00E" "monochrome",
        open-share-simple "\f00F" "monochrome",
        open-share-colored "\f00E" "#538439",
        share "\f006" "monochrome",
        share-simple "\f007" "monochrome",
        share-colored "\f006" "#538439",
        feed "\f009" "monochrome",
        feed-simple "\f00A" "monochrome",
        feed-colored "\f009" "#EA680B",
        ostatus "\f004" "monochrome",
        ostatus-simple "\f005" "monochrome",
        ostatus-colored "\f004" "#FF6600",
        opml "\f003" "monochrome",
        opml-colored "\f003" "#2490A1",
        activity "\f010" "monochrome",
        activity-colored "\f010" "#4FB2D9",
        microformats "\f00C" "monochrome",
        microformats-colored "\f00C" "#85BC07",
        geo "\f00B" "monochrome",
        geo-colored "\f00B" "#990000",
        opensearch "\f002" "monochrome",
        opensearch-colored "\f002" "#5050f3",
        oauth "\f008" "monochrome",
        openid "\f00D" "monochrome",
        rdf "\f000" "monochrome",
        rdfa "\f000" "monochrome",
        owl "\f000" "monochrome",
        dataportability "\f013" "monochrome",
        federated "\f011" "monochrome",
        web-intents "\f014" "monochrome",
        open-web "\f012" "monochrome",
        xmpp "\f015" "monochrome",
        html5 "\f016" "monochrome",
        html5-colored "\f016" "#E34C26",
        css3 "\f017" "monochrome",
        connectivity "\f018" "monochrome",
        semantics "\f019" "monochrome",
        opengraph "\f020" "monochrome",
        epub "\f021" "monochrome",
        epub-colored "\f021" "#85b916",
        qr "\f022" "monochrome",
        foaf "\f023" "monochrome",
        info-card "\f024" "monochrome",
        info-card-colored "\f024" "#BF84E5",
        browserid "\f025" "monochrome",
        remote-storage "\f026" "monochrome",
        remote-storage-colored "\f026" "#ff4e09",
        persona "\f027" "monochrome",
        odata "\f028" "monochrome",
        odata-colored "\f028" "#EA680B",
        markdown "\f029" "monochrome",
        tosdr "\f030" "monochrome",
        cc "\f080" "monochrome",
        cc-by "\f081" "monochrome",
        cc-nc "\f082" "monochrome",
        cc-nc-eu "\f083" "monochrome",
        cc-nc-jp "\f084" "monochrome",
        cc-sa "\f085" "monochrome",
        cc-nd "\f086" "monochrome",
        cc-public "\f087" "monochrome",
        cc-zero "\f088" "monochrome",
        cc-share "\f089" "monochrome",
        cc-remix "\f08a" "monochrome",
        hatom "\f040" "monochrome",
        hresume "\f042" "monochrome", 
        hcard-add "\f043" "monochrome",
        hcard-download "\f044" "monochrome",
        indieweb "\f08b \f08c" "monochrome",
        indiewebcamp "\f08b \f08c \f08d" "monochrome";