# Directories
/.sass-cache export-ignore
/.github export-ignore

# Files
/.gitattributes export-ignore
/.gitignore export-ignore
/scripts export-ignore
/templates export-ignore

# Plugin-only files
/openwebicons.php export-ignore
/readme.txt export-ignore
/.distignore export-ignore
/composed export-ignore
/.wp-env.json export-ignore
