@font-face { font-family: 'OpenWeb Icons'; src: url("../font/openwebicons.eot"); src: url("../font/openwebicons.eot?#iefix") format("embedded-opentype"), url("../font/openwebicons.woff2") format("woff2"), url("../font/openwebicons.woff") format("woff"), url("../font/openwebicons.ttf") format("truetype"), url("../font/openwebicons.svg#openweb_iconsregular") format("svg"); font-weight: normal; font-style: normal; }
[class^="openwebicons-"]:before, [class*=" openwebicons-"]:before { font-family: 'OpenWeb Icons'; font-weight: normal; font-style: normal; display: inline-block; text-decoration: inherit; vertical-align: center; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; }

a [class^="openwebicons-"], a [class*=" openwebicons-"] { display: inline-block; text-decoration: inherit; }

li[class^="openwebicons-"], li[class*=" openwebicons-"] { display: block; }

.openwebicons-apml:before { content: "\f001"; }

.openwebicons-open-share:before { content: "\f00E"; }

.openwebicons-open-share-simple:before { content: "\f00F"; }

.openwebicons-share:before { content: "\f006"; }

.openwebicons-share-simple:before { content: "\f007"; }

.openwebicons-feed:before { content: "\f009"; }

.openwebicons-feed-simple:before { content: "\f00A"; }

.openwebicons-ostatus:before { content: "\f004"; }

.openwebicons-ostatus-simple:before { content: "\f005"; }

.openwebicons-opml:before { content: "\f003"; }

.openwebicons-activity:before { content: "\f010"; }

.openwebicons-activity-simple:before { content: "\f041"; }

.openwebicons-microformats:before { content: "\f00C"; }

.openwebicons-geo:before { content: "\f00B"; }

.openwebicons-opensearch:before { content: "\f002"; }

.openwebicons-oauth:before { content: "\f008"; }

.openwebicons-openid:before { content: "\f00D"; }

.openwebicons-semantic-web:before { content: "\f000"; }

.openwebicons-rdf:before { content: "\f039"; }

.openwebicons-rdfa:before { content: "\f039"; }

.openwebicons-owl:before { content: "\f039"; }

.openwebicons-dataportability:before { content: "\f013"; }

.openwebicons-federated:before { content: "\f011"; }

.openwebicons-web-intents:before { content: "\f014"; }

.openwebicons-open-web:before { content: "\f012"; }

.openwebicons-xmpp:before { content: "\f015"; }

.openwebicons-html5:before { content: "\f016"; }

.openwebicons-css3:before { content: "\f017"; }

.openwebicons-connectivity:before { content: "\f018"; }

.openwebicons-semantics:before { content: "\f019"; }

.openwebicons-3deffects:before { content: "\f037"; }

.openwebicons-device-access:before { content: "\f031"; }

.openwebicons-multimedia:before { content: "\f032"; }

.openwebicons-offline-storage:before { content: "\f033"; }

.openwebicons-perfintegration:before { content: "\f034"; }

.openwebicons-git:before { content: "\f035"; }

.openwebicons-webhooks:before { content: "\f036"; }

.openwebicons-osi:before { content: "\f038"; }

.openwebicons-opensource:before { content: "\f038"; }

.openwebicons-opengraph:before { content: "\f020"; }

.openwebicons-epub:before { content: "\f021"; }

.openwebicons-qr:before { content: "\f022"; }

.openwebicons-foaf:before { content: "\f023"; }

.openwebicons-info-card:before { content: "\f024"; }

.openwebicons-browserid:before { content: "\f025"; }

.openwebicons-remote-storage:before { content: "\f026"; }

.openwebicons-persona:before { content: "\f027"; }

.openwebicons-odata:before { content: "\f028"; }

.openwebicons-markdown:before { content: "\f029"; }

.openwebicons-tosdr:before { content: "\f030"; }

.openwebicons-pub:before { content: "\f045"; }

.openwebicons-sub:before { content: "\f046"; }

.openwebicons-hubbub:before { content: "\f045"; }

.openwebicons-pubsubhubbub:before { content: "\f047"; }

.openwebicons-cc:before { content: "\f080"; }

.openwebicons-cc-by:before { content: "\f081"; }

.openwebicons-cc-nc:before { content: "\f082"; }

.openwebicons-cc-nc-eu:before { content: "\f083"; }

.openwebicons-cc-nc-jp:before { content: "\f084"; }

.openwebicons-cc-sa:before { content: "\f085"; }

.openwebicons-cc-nd:before { content: "\f086"; }

.openwebicons-cc-public:before { content: "\f087"; }

.openwebicons-cc-zero:before { content: "\f088"; }

.openwebicons-cc-share:before { content: "\f089"; }

.openwebicons-cc-remix:before { content: "\f08a"; }

.openwebicons-hatom:before { content: "\f040"; }

.openwebicons-hresume:before { content: "\f042"; }

.openwebicons-hcard-add:before { content: "\f043"; }

.openwebicons-hcard-download:before { content: "\f044"; }

.openwebicons-indieweb:before { content: "\f08b \f08c"; }

.openwebicons-indiewebcamp:before { content: "\f08b \f08c \f08d"; }

.openwebicons-webfinger:before { content: "\f08e"; }

.openwebicons-bitcoin:before { content: "\f08f"; }

.openwebicons-bitcoin-simple:before { content: "\f090"; }

.openwebicons-svg:before { content: "\f049"; }

.openwebicons-json-ld:before { content: "\f048"; }

.openwebicons-tent:before { content: "\f050"; }

.openwebicons-copyleft:before { content: "\f051"; }

.openwebicons-gnu:before { content: "\f052"; }

.openwebicons-ofl-attribution:before { content: "\f081"; }

.openwebicons-ofl-share:before { content: "\f085"; }

.openwebicons-ofl-renaming:before { content: "\f04a"; }

.openwebicons-ofl-selling:before { content: "\f04b"; }

.openwebicons-ofl-embedding:before { content: "\f04c"; }

.openwebicons-webmention:before { content: "\f04d"; }

.openwebicons-javascript:before { content: "\f04e"; }

.openwebicons-wtfpl:before { content: "\f04f"; }

.openwebicons-ofl:before { content: "\f053"; }

.openwebicons-wordpress:before { content: "\f054"; }

.openwebicons-owncloud:before { content: "\f055"; }

.openwebicons-cccs:before { content: "\f056"; }

.openwebicons-barcamp:before { content: "\f057"; }

.openwebicons-indiehosters:before { content: "\f058"; }

.openwebicons-known:before { content: "\f059"; }

.openwebicons-mozilla:before { content: "\f05a"; }

.openwebicons-unhosted:before { content: "\f05b"; }
