<script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0];

        s.parentNode.insertBefore(po, s);

        var s = document.createElement('script');
        var t = document.getElementsByTagName('script')[0];

        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';

        t.parentNode.insertBefore(s, t);

        var po = document.createElement("script"); po.type = "text/javascript"; po.async = true;
        po.src = "http://t3n.de/aggregator/ebutton_async";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(po, s);
      })();
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
      <section id="sharing">
        <p>Sharing is caring!</p>

        <a class="FlattrButton" data-flattr-uid="pfefferle" data-flattr-button="compact" data-flattr-tags="font, icons, opensource" data-flattr-category="software" style="display:none;" title="OpenWeb Icons... a font!" href="http://pfefferle.github.io/openwebicons/">Why OpenWeb Icons? Because Font Awesome had no RSS-icon and a font with only one icon would be a bit boring...</a>
        <noscript><a href="https://flattr.com/submit/auto?user_id=pfefferle&url=http%3A%2F%2Fpfefferle.github.io%2Fopenwebicons%2F" target="_blank"><img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>

        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://pfefferle.github.io/openwebicons/" data-via="pfefferle">Tweet</a>

        <div class="fb-like" data-href="http://pfefferle.github.io/openwebicons/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

        <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="200" data-href="http://pfefferle.github.io/openwebicons/"></div>

        <div class="t3nAggregator" data-url="http://pfefferle.github.io/openwebicons/"></div>

        <iframe src="http://ghbtns.com/github-btn.html?user=pfefferle&repo=openwebicons&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=pfefferle&repo=openwebicons&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>

        <iframe src="http://ghbtns.com/github-btn.html?user=pfefferle&repo=openwebicons&type=follow&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>

        <a href="http://coderwall.com/pfefferle"><img src="http://api.coderwall.com/pfefferle/endorsecount.png" /></a>
      </section>